.detail_box{
    width:500px;
    margin:0 auto;
    border: 1px solid gray;
}

.detail_imgbox{
    width: 100%;
    height: 720px;
}

.detail_img{
    width : 100%;
    height: 100%;
}


.icon_box{
    margin-top: 20px;
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom:20px;
}

.left-icon{
    display: flex;
    justify-content: space-between;
    width:180px;
    height: 100%;
}

.licon{
    width:33%;
    height: 100%;
}
.right-icon{
    margin-left: 273px;
    width: 40px;
}

.rlicon{
    width:100%;
    height: 100%;
}

.detail_textbox{
    width: 460px;
    height: 110px;
    margin: 10px 15px 10px 15px;
    overflow: scroll;   
}

.comment_box{
    display:flex;
    border-top: 1px solid gray;
}

.img_in_a{
    width: 20px;
    height: 20px;
}

.comment_class{
    margin-top:10px;
    margin-right: 85px;
    width:315px;
    height: 15px;
    border-radius: 10%;
    
}

.input_submit{
    margin-top: 6px;
}

.p{
    display: flex;
}

.comment{
    width:50%;
    margin-top:100px;
}
